@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --font-inter: var(--font-inter);

  --color-gray-900: #181d27;
  --color-gray-700: #334155;
  --color-gray-600: #535862;
  --color-gray-200: #e9eaeb;
  --color-brand-600: #7f56d9;
  --color-brand-50: #f9f5ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
}
